{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    {% include 'navbar/nav.html.twig' %}
    <h1>Bienvenue sur l'application F & BC - RENTAB</h1>
    <p>Le but de cette application est de calculer la rentabilité de nos différentes gammes de produits</p>
    <p>Elle permet également de visualiser les prix maximum autorisés pour faire du bénéfice sur nos différentes gammes</p>

    {% include 'signaler_bug/index.html.twig' %}
</div>

{% endblock %}
