{% extends 'base.html.twig' %}

{% block title %}Hello EmballagesController!{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let calculateUrl = 'http://127.0.0.1:8000/calculate/'

        function sortTable(n, sort) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("tableau");
            switching = true;
            // Set the sorting direction to ascending:
            dir = sort;
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;

                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }


        function onCalculate(event) {
            const prix = document.getElementById('prix').value;
            const urlToUse = calculateUrl + prix;
            axios.get(urlToUse).then(res => {
                const trs = document.getElementsByClassName('produit');
                const {papier, ruban, etiquette, emballages} = res.data;
                for (let i = 0; i < trs.length; i++) {
                    for (const node of trs[i].childNodes) {
                        const {countPapier, countRuban, countEtiquette, prixVente} = emballages[i];
                        const prixAchat = papier * countPapier + ruban * countRuban + etiquette * countEtiquette;
                        ;
                        if (node.className === 'prixAchat') {
                            node.innerHTML = Math.round(prixAchat * 10) / 10;
                        }
                        if (node.className === 'benefices') {
                            node.innerHTML = Math.round((prixVente - prixAchat) * 10) / 10;
                        }
                    }
                }
            });

        }
    </script>
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div>
        {% include 'navbar/nav.html.twig' %}
        <h1>Emballages</h1>
        <div>
            <label for="prixPapier">Prix du papier</label>
            <input id="prix" type="number" name="prixPapier" id="prixPapier" value="{{ papier }}">
        </div>
        <div>
            <label for="prixRuban">Prix du ruban</label>
            <input type="number" name="prixRuban" id="prixRuban" disabled value="{{ ruban }}">
        </div>
        <div>
            <label for="prixEtiquette">Prix des étiquettes</label>
            <input type="number" name="prixEtiquette" id="prixEtiquette" disabled value="{{ etiquette }}">
        </div>
        <div>
            <button onclick="onCalculate(this)" id="calculate">Calculer les bénéfices</button>
        </div>
        <table id="tableau">
            <thead>
            <tr>
                <th>
                    <button class="sort" onclick="sortTable(0,'asc')">Nom</button>
                </th>
                <th>Composition</th>
                <th>Prix d'achat</th>
                <th>Prix de vente</th>
                <th>
                    <button class="sort" onclick="sortTable(4,'asc')">Bénéfices</button>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for emballage in emballages %}
                <tr class="produit" id="{{ emballage.id }}">
                    <td>{{ emballage.name }}</td>
                    <td>{{ emballage.countPapier }} papier, {{ emballage.countRuban }}
                        ruban, {{ emballage.countEtiquette }} etiquette
                    </td>
                    <td class="prixAchat">{{ emballage.prixAchat }}</td>
                    <td>{{ emballage.prixVente }}</td>
                    <td class="benefices">{{ emballage.benefices }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'signaler_bug/index.html.twig' %}

{% endblock %}

