{% extends 'base.html.twig' %}

{% block title %}Rentabilité{% endblock %}

{% block javascripts %}
    <script>
        function sortTable(n, sort, table = null) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            if(table === 'tableau'){
                table = document.getElementById("tableau");
            } else {
                table = document.getElementById("tableau2");
            }
            switching = true;
            // Set the sorting direction to ascending:
            dir = sort;
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;

                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div>
        {% include 'navbar/nav.html.twig' %}
        <h1>Prix maximum de rentabilité</h1>
        <div>
            <table>
                <tr>
                    <th>Ruban</th>
                    <th>Etiquette</th>
                    <th>Ficelle</th>
                </tr>
                <tr>
                    <td>{{ ruban }}</td>
                    <td>{{ etiquette }}</td>
                    <td>{{ ficelle }}</td>
                </tr>
            </table>
        </div>
        <div class="table">
            <h2>Gamme "Ficelles et bouts de carton"</h2>
            <table id="tableau">
                <thead>
                <tr>
                    <th>Nom du produit</th>
                    <th>
                        <button class="sort" onclick="sortTable(1,'asc', 'tableau')">Prix d'achat</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for item in cartonFicelle %}
                    <tr class="produit" id="{{ item.id }}">
                        <td>{{ item.name }}</td>
                        <td class="prixAchat">{{ item.minPriceCarton }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table">
            <h2>Gamme "Emballages"</h2>
            <table id="tableau2">
                <thead>
                <tr>
                    <th>Nom du produit</th>
                    <th>
                        <button class="sort" onclick="sortTable(1,'asc')">Prix d'achat</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for emballage in emballages %}
                    <tr class="produit" id="{{ emballage.id }}">
                        <td>{{ emballage.name }}</td>
                        <td class="prixAchat">{{ emballage.minPricePapier }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'signaler_bug/index.html.twig' %}
    </div>


{% endblock %}
