.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    display: block;
    cursor: pointer;
    background-color: 'black';
  }

a:hover {
    color: 'red';
}

table
{
   border-collapse: collapse;
}

th {
  border-bottom: 1px solid #ccc;
}

tr
{
   border-bottom: 1px solid #ccc;
}

td {
  padding: 10px;
}

  
  .sort:hover {
    text-decoration: none;
  }
  
  .sort:focus {
    outline: none;
  }
  
  .sort:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
  }
  
  .sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: "";
    position: relative;
    top: 4px;
    right: -5px;
  }
  
  .sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    content: "";
    position: relative;
    top: -4px;
    right: -5px;
  }

