{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% include 'navbar/nav.html.twig' %}

<div class="example-wrapper">
    <h1>Grinwald Louis</h1>
    <h1>Bir Vincent</h1>
    <h1>Chevalet Clément</h1>
</div>
{% include 'signaler_bug/index.html.twig' %}

{% endblock %}
