
<nav>
    <ul style="list-style: none;" class="nav">
        <li>
            <a id='/' href="/">Accueil</a>
        </li>
        <li>
            <a id='/emballages' href="/emballages">Emballages</a>
        </li>
        <li>
            <a id='/carton_ficelle' href="/carton_ficelle">Cartons et Ficelles</a>
        </li>
        <li>
            <a id='/rentab' href="/rentab">Rentabilité</a>
        </li>
        <li>
            <a id='/login' href="/login">Se connecter</a>
        </li>
        <li>
            <a id='/apropos' href="/apropos">A propos</a>
        </li>
    </ul>
</nav>

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.onload = function(){
            document.getElementById(window.location.href.substring(21)).style.visibility = "hidden";
        }; 
        
    </script>
{% endblock %}