{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let authenticate = 'http://127.0.0.1:8000/authenticate/'
        function onLogin(event) {
            const password = document.getElementById('password').value;
            const urlToUse = authenticate + password;
            axios.get(urlToUse).then(function (response) {
                if(response.data)
                    window.location.href = '/configuration';
                else
                    window.alert('Ce n\'est pas le droïde que vous cherchez !');
            });

        }
    </script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>
    {% include 'navbar/nav.html.twig' %}
    <div class="example-wrapper">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button onclick="onLogin(this)" id="calculatecf">Se connecter</button>
    </div>
</div>
{% include 'signaler_bug/index.html.twig' %}

{% endblock %}
