{% extends 'base.html.twig' %}

{% block title %}Hello SignalerBugController!{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function sendBug(event) {
            let bugtosend = document.getElementById("bug").value;
            window.open('mailto:vincentbir@hotmail.com?subject=bug&body=' + bugtosend);
            console.log("fait");
        }
    </script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Signaler un bug</h1>
    <input type="string" name="bug" id="bug" >
    <button onclick="sendBug(this)" id="sengbug">Envoyer un bug</button>
</div>

{% endblock %}

