{% extends 'base.html.twig' %}

{% block title %}Hello ConfigurationController!{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let changePrice = 'http://127.0.0.1:8000/changePrice/'
        function onChange(event) {
            const ruban = document.getElementById('prixRuban').value;
            const etiquette = document.getElementById('prixEtiquette').value;
            const ficelle = document.getElementById('prixFicelle').value;
            const urlToUse = changePrice + ruban + '/' + etiquette + '/' + ficelle;
            axios.get(urlToUse);
        }
    </script>

    <script>
        let changeComposition = 'http://127.0.0.1:8000/changeComposition/'
        function onComposition(event) {
            const tr = document.getElementById('emballage');
            var rows = tr.rows;
            
            for (i = 1; i < (rows.length - 1); i++) {
                var input = rows[i].getElementsByTagName("input");
                const urlToUse = changeComposition + i + '/' + input.countPapier.value + '/' + input.countRuban.value + '/' +  input.countEtiquette.value;
                axios.get(urlToUse); 
                console.log(urlToUse);
            }
        }
    </script>

    <script>
        let changeCompositioncf = 'http://127.0.0.1:8000/changeCompositioncf/'
        function onCartonFicelle(event) {
            const tr = document.getElementById('carton_ficelle');
            var rows = tr.rows;
            
            for (i = 1; i < (rows.length - 1); i++) {
                var input = rows[i].getElementsByTagName("input");
                const urlToUse = changeCompositioncf + i + '/' + input.countCarton.value + '/' + input.countFicelle.value;
                axios.get(urlToUse); 
            }
        }
    </script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
        {% include 'navbar/nav.html.twig' %}
        <div class="example-wrapper">
            <h1>Page de configuration</h1>
        <div>
            <table>
                <tr>
                    <th>Ruban</th>
                    <th>Etiquette</th>
                    <th>Ficelle</th>
                </tr>
                <tr>
                    <td>
                        <input id="prixRuban" type="number" name="prixRuban" id="prixRuban" value="{{ ruban }}">
                    </td>
                    <td>
                        <input id="prixEtiquette" type="number" name="prixEtiquette" id="prixEtiquette" value="{{ etiquette }}"></td>
                    </td>
                    <td>
                        <input id="prixFicelle" type="number" name="prixFicelle" id="prixFicelle" value="{{ ficelle }}"></td>
                    </td>
                </tr>
                <tr>
            </table>
            <button onclick="onChange(this)" id="calculate">Changer les prix</button>
        </div>
        </div>

        <hr>

        <table id="emballage">
            <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Composition</th>
            </tr>
            </thead>
            <tbody >
            {% for emballage in emballages %}
                <tr class="produit" id="{{ emballage.id }}">
                    <td>{{ emballage.name }}</td>
                    <td>{{ emballage.countPapier }} papier, {{ emballage.countRuban }}
                        ruban, {{ emballage.countEtiquette }} etiquette
                    </td>
                    <td>
                        <input id="countPapier" type="number" name="countPapier" value="{{ emballage.countPapier }}"> Papier</input>
                    </td>
                    <td>
                        <input id="countRuban" type="number" name="countRuban" value="{{  emballage.countRuban }}"> Ruban</td>
                    </td>
                    <td>
                        <input id="countEtiquette" type="number" name="countEtiquette" value="{{  emballage.countEtiquette }}"> Etiquette</td>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button onclick="onComposition(this)" id="composition">Modifier la composition</button>

        <hr>

        <table id="carton_ficelle">
            <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Composition</th>
            </tr>
            </thead>
            <tbody >
            {% for cf in carton_ficelle %}
                <tr class="produit" id="{{ cf.id }}">
                    <td>
                        {{ cf.name }}
                    </td>
                    <td>
                        {{ cf.countCarton }} carton, {{ cf.countFicelle }} ficelle
                    </td>
                    <td>
                        <input id="countCarton" type="number" name="countCarton" value="{{ cf.countCarton }}"> Carton</input>
                    </td>
                    <td>
                        <input id="countFicelle" type="number" name="countFicelle" value="{{ cf.countFicelle }}"> Ficelle</td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button onclick="onCartonFicelle(this)" id="compositioncf">Modifier la composition</button>
</div>
{% include 'signaler_bug/index.html.twig' %}

{% endblock %}
